@import url(https://fonts.googleapis.com/css?family=Open+Sans:800,700,400);

@font-face {
  font-family: 'Bringin';
  src: url(../fonts/Bringin.otf) format('opentype');
}

@font-face {
  font-family: "TimesNewRomanRegular";
  src: url(../fonts/TimesNewRomanRegular.woff) format("woff");
}

@import url(https://fonts.googleapis.com/css?family=Raleway:700);

@font-face {
  font-family: 'fontello';
  src: url('../fonts/fontello.woff?2181012') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Black";
  src: url("../fonts/Roboto-Black.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

@font-face {
  font-family: "League Gothic";
  src: url("../fonts/LeagueGothic-Regular.otf") format("opentype");
}